/*HELPS by Reloding Styles*/
#homeTable{
    margin-left: auto;
    margin-right: auto;
}

#homeTable tr td{
    padding-left: 10px;
    padding-right: 10px;
}

#home{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}




