/*
#############################
#  ####### GLOBAL ####### 
#############################
*/
@font-face{
    font-family: ownFont;
    src: url("..//fonts/BalsamiqSans-Regular.ttf");
}

input {
    font-family: ownFont;
}


#navbar{
   margin-left:30px;
   margin-right: 30px;
   margin-top: 20px;

   text-align: center;
   padding-top: 20px;

   height: 45px;
   width: auto;
   
   background: rgba(155, 90, 37, 0.938);
   border-radius: 5px;  
   border: 5px solid  rgba(158, 97, 46, 0.836);

   font-family: ownFont;
   font-size: 20px;
}

#navbar a:hover{
    font-weight: bold;
}

.navBtn:hover{
    background:  	rgba(30, 153, 253, 0.849) ;
    border-radius: 5px;
    border: 5px solid  rgba(97, 151, 250, 0.61) ;
}

#navbar a{
    padding: 10px;
}

#navbar a:link{
    color: black;
    text-decoration: none;
}

#navbar a:visited{
    color: black;
    text-decoration: none;

}

#navbar a:active{
    /*color: yellow;*/
}


#routing{
    margin-left:30px;
    margin-right: 30px;
    margin-top: 20px;

    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(236,236,236,0.9396551724137931) 49%, rgba(231,231,231,0.8017241379310345) 90%);

    font-family: ownFont;

    /*
    TODO: Platzhalter, height dann auf auto oder einheitsgröße
    */   
    min-height: 400px;
    height: auto;
    max-width: auto;
    border-radius: 1px;
}



/*
###############################
#  ####### Individual ####### 
###############################
*/

.oeffnugszeiten{
    padding: 20x;
}


#footer{
    text-align: center;
}

body{
    background-image: url("../bilder/buch_background.png");
}

/*Bild zur HomeSite*/
#homeBtn{
    position: absolute;
    height: 50px;
    margin-top: 10px;
    right: 79%;
    border-radius: 5px;
}
