/*
#############################
#  ####### GLOBAL ####### 
#############################
*/

@font-face {
    font-family: ownFont;
    src: url("..//fonts/BalsamiqSans-Regular.ttf");
}

input {
    font-family: ownFont;
    font-size: 16px;
}

#navContainer{
    display: flex;
    justify-content: center;
}

#navContent {
    z-index: 1;
    width: 700px;
    height: 60px;
    position: fixed;
    top: 0px;

    display: flex;
    justify-content: center;

    /*Design der Navbar an sich */
    background: rgba(161, 133, 189, 1);
}

#navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: ownFont;
    font-size: 20px;
}

#navbar a:hover {
    font-weight: bold;
}

.navBtn {
    display: flex;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
}

.navBtn:hover {
    background: rgba(30, 153, 253, 0.849);
    border-radius: 5px;
    border: 5px solid rgba(97, 151, 250, 0.61);
}

#navbar a:link {
    color: black;
    text-decoration: none;
}

#navbar a:visited {
    color: black;
    text-decoration: none;
}

#navbar a:active {
    /*color: yellow;*/
}



#suchleistenKontainer{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

#suchInputElemts{
    align-items: center;
    flex-direction: row;
    display: flex;
}

#suchBtn{
    margin-left: 10px;
}
#suchfeld{
    width: 300px;
    text-align: center;
}






.dropdown{
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn{
    font-size: 16px;
    border: none;
    outline:none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    margin: 0;
}

.dropdown-content{
    display: none;
    position: absolute;
    background-color: rgba(30, 153, 253, 0.849);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a{
    float: none;
    color:black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover{
    background-color: blue;
}

.dropdown:hover .dropdown-content{
    display: block;
}













#routing {
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 90px;
    background: white;


    font-family: ownFont;

    min-height: 800px;
    height: auto;
    max-width: auto;
    border-radius: 5px;
}

#routingContent{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#footer {
    text-align: center;
}

body {
    background-image: url("../bilder/buch_background.png");
    background: radial-gradient();
    margin: 0px;
}

/*Links und Rechts Verdunkelung*/

.darkeffeckt {
    top: 0px;
    height: 100vh;
    width: 2vh;
}

.left-gradient {
    float: left;
    background: rgb(255, 255, 255);
    background: linear-gradient(-90deg, rgba(255, 255, 255, 0.2329306722689075) 0%, rgba(255, 255, 255, 0.32816876750700286) 25%, rgba(119, 116, 116, 0.5662640056022409) 61%, rgba(83, 82, 82, 0.5466561624649859) 84%, rgba(55, 55, 55, 0.5158438375350141) 100%);
}

.right-gradient {
    float: right;
    background: rgb(255, 255, 255);
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.2329306722689075) 0%, rgba(255, 255, 255, 0.32816876750700286) 25%, rgba(119, 116, 116, 0.5662640056022409) 61%, rgba(83, 82, 82, 0.5466561624649859) 84%, rgba(55, 55, 55, 0.5158438375350141) 100%);
}

/*
###############################
#  ####### Individual ####### 
###############################
*/

.oeffnugszeiten {
    padding: 20x;
}

/*Bild zur HomeSite*/

#homeBtn {
    position: absolute;
    height: 50px;
    margin-top: 10px;
    right: 75%;
    border-radius: 5px;
}



/*Neuigkeiten*/

#newsContainer{
    display: flex;
    justify-content: stretch;
    justify-content: space-between;
    
    
    padding-top: 20px;
    padding-left: 50px;
    padding-right: 50px;

    text-align: left;
}

#newsInformation{
    margin-left:20px;
    height: 500px;
    width: 300px;
}

#newsBild{
    display: flex;
}

#newsBild img{
    align-items: flex-start;
    height: 180px;
    width: 130px;
    box-shadow: -5px 8px 8px, 5px 8px 8px gray;
    border-radius: 2px;
    
}

#newsText{
    margin-left:20px;
    height: 500px;
    width: 900px;
}


/*Login und Regestierung*/

#login_eingabemaske{
    display: flex;
    justify-content: center;
}
#loginForm{
    margin-top: 30px;
}
.loginput input{
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 50px;
    text-align: center;
    font-size: 18px; 
    width: 200px;
    height: 50px;
}

.regContainer{
    display: flex;
    justify-content: center;
}
.reginput{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.reginput p{
    margin-bottom: 1px;
}
.reginput input{
    font-size: 18px; 

    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 50px;
    
    text-align: center;
    width: 200px;
    height: 50px;

    margin-left: auto;
    margin-right: auto;
}
.iputInformationen {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
}

#info{
    width: 30px;
    height: 30px;
    text-align: center;
    border-radius: 0;
}

.sendenBtn{
    display: flex;
    justify-content: center;
}
.sendenBtn input{
    text-align: center;
    width: 150px;
    height: 30px;
    border-radius: 2px;
}


/*Über Uns*/

#firmenInformationContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#firmenInformationContainer p{
    width: 500px;
}



/* Produktübersicht*/

.produktWrapp{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.produkt{
    display: flex;
    flex-direction: row;
    align-items: center;

    justify-content: space-between;
    justify-content: space-around;
    margin-top: 10px;
    margin-bottom: 20px;
}

.produktBild{
    background-color: gray;
    border: solid black;
}

.produktBild img{
    width: 200px;
    height: 300px;
}
.produktBeschreibung{
    width: 50vw;
}






#uebersichtKontainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}
.variante1{
    margin-left:20px;
    margin-top: 30px;
}
/*standart Bilder*/
.variante1 img{
    height: 200px;
    width: 150px;
    border-radius: 2px;
    box-shadow: -5px 8px 8px, 5px 8px 8px;
}
.variante1 img:hover{
    filter: grayscale(80%);
}


/*große Bilder*/
.variante2{
    margin-left:20px;
    margin-top: 30px;
}
.variante2 img{
    height: 400px;
    width: 300px;
    border-radius: 2px;
    box-shadow: -5px 8px 8px, 5px 8px 8px;
}
.variante2 img:hover{
    filter: grayscale(80%);
}




/*fehlgeschlagene Sucheanfrage response*/
#suchanfrageGescheitert{
    font-size: 20;
    color: red;
    margin-top: 40px;
}




/*Detail btn bei Produkten, für die weiterleitung zur Detailansicht, für standart übersicht*/
.details_01{
    z-index: 1;
    height: 200px;
    width: 150px;
    position: absolute;
    background-color: transparent;
    border: none;
    color: rgba(255,255,255,0);
}

.details_02{
    z-index: 2;
    height: 400px;
    width: 300px;
    position: absolute;
    background-color: transparent;
    border: none;
    color: rgba(255,255,255,0);
}






/*ProduktDetails*/
.tableText{
    text-align: right;
}

#produktInformationUeberschrift{
    font-size: 36px;
    font-weight: bold;
}
#produktDetail{
    display: flex;
    justify-content: left;
    flex-direction: row;
    margin-top: 50px;
    margin-left: 20px;
    
}
#produktDetail div:nth-child(2){
    margin-top: 50px;
    margin-left: 20px;
    min-width: 370px;
}

#produktDetail div:nth-child(3){
    margin-left: 10px;
    margin-top: 50px;
    margin-right: 10px;
}










/*###########################################################*/

/*############MEDIA QUERYS###################################*/

/*###########################################################*/

@media screen and (max-width: 1350px) and (min-width: 992px) {
    
}

/*Mobile*/
@media screen and (max-width: 992px){
    
}